<a href="https://colab.research.google.com/github/yichen8/Final-case-study-covid-vaccinations/blob/main/Final_case_study_first_draft_unfinished_yichen8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# COVID-19 World Vaccinations Progress
(Dataset obtained from https://www.kaggle.com/gpreda/covid-world-vaccination-progress?select=country_vaccinations.csv)

In [1]:
#Import Python Packages
import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import plotly.graph_objects as go

In [2]:
#Read the dataset
df = pd.read_csv('https://github.com/yichen8/Final-case-study-covid-vaccinations/blob/main/country_vaccinations.csv?raw=true')

# Inspecting the Dataset

In [3]:
#Display the number of rows and columns
num_rows = df.shape[0]
num_cols = df.shape[1]

print(f'There are {num_rows} rows and {num_cols} columns in the dataset.')

There are 15505 rows and 15 columns in the dataset.

In [4]:
#Check the data types of each column and number of non-missing rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15505 entries, 0 to 15504
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              15505 non-null  object
 1   iso_code                             15505 non-null  object
 2   date                                 15505 non-null  object
 3   total_vaccinations                   9325 non-null   float64
 4   people_vaccinated                    8649 non-null   float64
 5   people_fully_vaccinated              6425 non-null   float64
 6   daily_vaccinations_raw               7830 non-null   float64
 7   daily_vaccinations                   15307 non-null  float64
 8   total_vaccinations_per_hundred       9325 non-null   float64
 9   people_vaccinated_per_hundred        8649 non-null   float64
 10  people_fully_vaccinated_per_hundred  6425 non-null   float64
 11  daily_vaccinations_per_million       15307 non-null  float64
 12  vaccines                             15505 non-null  object
 13  source_name                          15505 non-null  object
 14  source_website                       15505 non-null  object
dtypes: float64(9), object(6)
memory usage: 1.8+ MB

In [5]:
df.describe()

       total_vaccinations  ...  daily_vaccinations_per_million
count        9.325000e+03  ...                    15307.000000
mean         5.180765e+06  ...                     2997.132292
std          2.131066e+07  ...                     4693.081687
min          0.000000e+00  ...                        0.000000
25%          6.208300e+04  ...                      358.000000
50%          4.419760e+05  ...                     1501.000000
75%          1.988844e+06  ...                     4008.500000
max          2.896270e+08  ...                   118759.000000

[8 rows x 9 columns]

In [6]:
df.head()

       country  ...                                     source_website
0  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
1  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
2  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
3  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
4  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...

[5 rows x 15 columns]

# Perform EDA

In [7]:
# YOUR CODE BEGINS
df_by_country = df.groupby('country').agg({'total_vaccinations': 'sum'})

display(df_by_country)
print(df_by_country.columns)

             total_vaccinations
country
Afghanistan            422200.0
Albania              11295390.0
Algeria                 75030.0
Andorra                185420.0
Angola                1551757.0
...                         ...
Venezuela              374574.0
Vietnam               4815258.0
Wales               146605289.0
Zambia                 322674.0
Zimbabwe             12162705.0

[195 rows x 1 columns]

Index(['total_vaccinations'], dtype='object')

In [8]:
#Filter countries with over 1 Billion Total Vaccinations
df_over_1B = df_by_country[df_by_country['total_vaccinations'] >= 1000000000]
df_over_1B

                total_vaccinations
country
Brazil                1.543410e+09
China                 8.344417e+09
England               2.441464e+09
Germany               1.263981e+09
India                 5.251824e+09
Turkey                1.211611e+09
United Kingdom        2.899535e+09
United States         1.248309e+10

# *To be Continued...*

# Python Visualizations

In [9]:
#Daily Vaccinations Change in China

# *To be Continued...*